 
<footer class="page-footer container sticky-bottom footer font-small mdb-color pt-4">

  
  <div class="container text-center text-md-left">

  <!--Row 1-->
  <div class="row">

     <div class="col-md-4 mx-auto">

      <!-- Social buttons -->
      <div class="text-center text-md-left">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank">
              <img class="logoSociaux" src="/assets/img/FacebookLogo.png">
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="https://twitter.com/Souffle9lyon" target="_blank">
             <img class="logoSociaux" src="/assets/img/TwitterLogo.png"></a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1" routerLink="/boiteaoutils/contact" target="_blank">
              <img class="logoSociaux" src="/assets/img/ContactLogo.png"></a>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- Liens FAQ et CGU -->
    <div class="col-md-4 mx-auto">
      <p class="list-unstyled list-inline text-md-center py-2 font-weight-bold">
        <a routerLink="/boiteaoutils/faq">FAQ </a>
        - <button (click)=showCgu() type="button" class="cguButton"> CGU </button>
      </p>
    </div>

    <div class="col-md-4 mx-auto">

      <!-- Logos entreprises -->
      <div class="text-center text-md-right">
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.probtp.com/" target="_blank">
              <img class="logoPartenaires" src="../../assets/img/proBTP.png" alt="logoProBTP">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.souffle9.com/" target="_blank">
              <img class="logoPartenaires" src="../../assets/img/Souffle9.png" alt="logoSouffle9">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://wildcodeschool.fr/" target="_blank">
              <img class="logoPartenaires" src="../../assets/img/WCS.png" alt="logoWCS">
            </a>
          </li>
        </ul>
      </div>
  
      </div>
     
  </div>
  
</div>



<!--Copyright-->
<div class="footer-copyright text-center pt-2 pb-4">Copyright 2019 ©
  <a href="https://wildcodeschool.fr/"> Wild Code School</a>
</div>

<div class= "text-center pb-4">Site développé par : 
    <a href="https://www.linkedin.com/in/hugo-hontans-34b798170/" target="_blank">Hugo</a>, 
    <a href="https://www.linkedin.com/in/yohann-nikas-5773b318/" target="_blank">Yohann</a>, 
    <a href="https://www.linkedin.com/in/kevin-radlowski-83186a170/" target="_blank">Kevin</a>, 
    <a href="https://www.linkedin.com/in/julien-chevrot-845399175/" target="_blank">Julien</a> et 
    <a href="https://www.linkedin.com/in/klein-magali/" target="_blank">Magali</a>.
</div>
   
</footer>
