<div class="container bodyGestionOffres">
  <h1 class="titre">GESTION DES OFFRES</h1>
  <app-alert></app-alert>
  <table class="table table-striped thead-light table-hover">
    <thead>
      <tr align="center">
        <th>Titre</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Ville</th>
        <th>Pourvue</th>
        <th>Postulants</th>
        <th>Détail</th>
        <th>Modifier</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr align="center" *ngFor="let offre of offres" style=" width: 300px;">
        <td> {{offre.titre}} </td>
        <td> {{offre.dateDebut}} </td>
        <td> {{offre.dateFin}} </td>
        <td> {{offre.ville}} </td>
        <td *ngIf="offre.active == true"><i class="material-icons" style="color: green">lock_open</i></td>
        <td *ngIf="offre.active == false"><i class="material-icons" style="color: red">lock</i></td>
        <td><i [routerLink]="['/boardentreprise/gestionoffres/postulants', offre.id]" class="material-icons" style="color:#ff9900; cursor: pointer;">people</i></td>
        <td><i [routerLink]="['/detailoffre', offre.id]" class="material-icons" style="color:#00b499; cursor: pointer;">remove_red_eye</i></td>
        <td><i [routerLink]="['/boardentreprise/gestionoffres/modifieroffre', offre.id]" class="material-icons" style="color:blue; cursor: pointer;">edit</i></td>
        <td><i class="material-icons" style="color:red; cursor: pointer;" (click)=showConfirm(offre.id)>delete</i></td>
      </tr>
    </tbody>

  </table>
  <!-- <app-offre-item [offres]="offres"></app-offre-item> -->
  <!-- <app-modifier-offre (onAdd)="addUser($event)" [formData]="offre"></app-modifier-offre> -->
</div>