<div *ngIf="offre" class="container col-10 bodyModifierOffre">
  <h1 class="titre">Modifier l'offre {{offre.titre}}</h1>
  <form class="col-md-8" [formGroup]="formOffre" (ngSubmit)="onSubmit()">
    <div id="boutontoggle">
      <ui-switch formControlName="active" [checked]="true" size="large" color="#26a69a"></ui-switch><span class="textetoggle"
        style="color:green" *ngIf="formOffre.value.active"><i class="material-icons" style="color: green">lock_open</i> Vous recherchez un stagiaire et votre offre est
        disponible.</span><span class="textetoggle" style="color:red" *ngIf="formOffre.value.active==false"><i class="material-icons" style="color: red">lock</i> Vous ne recherchez plus de
        stagiaire car votre
        offre est pourvue.</span>
    </div>
    
    <p style="font-style: italic">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être
      remplis.</p>
    <div class="form-group">
      <label for="titre">Intitulé du poste*</label>
      <input type="text" formControlName="titre" class="form-control" id="titre" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }"
        value="{{offre.titre}}">
      <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
        <div *ngIf="f.titre.errors.required">L'intitulé du poste est requis!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Descriptif du poste*</label>
      <textarea class="form-control" formControlName="description" id="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        value="{{offre.description}}" rows="3">
      </textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Le descriptif est requis!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="dateDebut">Date de début du stage*</label>
      <input type="date" formControlName="dateDebut" class="form-control" id="dateDebut" [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }"
        value="{{offre.dateDebut}}">
      <div *ngIf="submitted && f.dateDebut.errors" class="invalid-feedback">
        <div *ngIf="f.dateDebut.errors.required">La date de début du stage est requise!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="dateFin">Date de fin du stage*</label>
      <input type="date" formControlName="dateFin" class="form-control" id="dateFin" [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }"
        value="{{offre.dateFin}}">
      <div *ngIf="submitted && f.dateFin.errors" class="invalid-feedback">
        <div *ngIf="f.dateFin.errors.required">La date de fin du stage est requise!</div>
      </div>
    </div>

    <h2 class="text-center">Localisation du stage*</h2>
    <div class="form-group">
      <label for="rue">Rue</label>
      <input type="text" class="form-control" formControlName="rue" id="rue" [ngClass]="{ 'is-invalid': submitted && f.rue.errors }"
        value="{{offre.rue}}">
      <div *ngIf="submitted && f.rue.errors" class="invalid-feedback">
        <div *ngIf="f.rue.errors.required">L'adresse de déroulement du stage est requise!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="ville">Ville*</label>
      <input type="text" class="form-control" formControlName="ville" id="ville" [ngClass]="{ 'is-invalid': submitted && f.rue.errors }"
        value="{{offre.ville}}">
      <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
        <div *ngIf="f.ville.errors.required">La ville est requise!</div>
      </div>
    </div>

    <div class="form-group">
      <label for="codePostal">Code postal*</label>
      <input type="text" class="form-control" formControlName="codePostal" id="codePostal" [ngClass]="{ 'is-invalid': submitted && f.codePostal.errors }"
        value="{{offre.codePostal}}">
      <div *ngIf="submitted && f.codePostal.errors" class="invalid-feedback">
        <div *ngIf="f.codePostal.errors.required">Le code postal est requis!</div>
      </div>
    </div>

    <div class="text-center d-flex justify-content-around">
      <button type="button" class="btn btnRetour" (click)="retourPage()">Retour</button>
      <button class="btn btnModifierOffre" type="submit">Modifier mon offre</button>
    </div>
  </form>

</div>