<div class="container col-12 bodyListeOffres d-flex justify-content-center">
    <div class="d-none d-sm-block col-12 p-0 mat-elevation-z8">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre de recherche">
        </mat-form-field>
        <table mat-table class="limit" [dataSource]="offres" matSort>

            <ng-container matColumnDef="logo">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre"><img *ngIf="offre.entreprise.logo.fileDownloadUri"
                        src="{{offre.entreprise.logo.fileDownloadUri}}" style="margin: 10px;" alt="Logo entreprise"><img
                        *ngIf="offre.entreprise.logo.fileDownloadUri == null" id="image" src="assets/img/LogoAdopt.png"
                        alt="logo par default"></td>
            </ng-container>

            <ng-container matColumnDef="titre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Offre</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre"> <b>{{offre.titre}} </b><br>
                    {{offre.raisonSociale}}
                </td>
            </ng-container>

            <ng-container matColumnDef="period" class="text-center">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Période</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre" [innerHTML]="offre.period"></td>
            </ng-container>

            <ng-container matColumnDef="secteur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre"> {{offre.secteur}}
                </td>
            </ng-container>

            <ng-container matColumnDef="ville">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre"> <b>{{offre.ville}}</b>
                    <br> {{offre.codePostal}} </td>
            </ng-container>

            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef class="text-center">Détails</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" *matCellDef="let offre" class="text-center"> <i
                        [routerLink]="['/detailoffre', offre.id]" class="material-icons" style="color:#FB6F07; cursor: pointer; font-size: 2.5em;">visibility</i>
                </td>
            </ng-container>

            <ng-container matColumnDef="etat">
                <th mat-header-cell *matHeaderCellDef class="text-center">Etat</th>
                <td mat-cell [routerLink]="['/detailoffre', offre.id]" class="text-center" *matCellDef="let offre">
                    <span class="dispo" *ngIf="offre.active == true" style="font-weight: bolder; color: #00b499;">Dispo</span>
                    <span class="pourvue" *ngIf="offre.active == false" style="font-weight: bolder; color: #e00000;">Pourvue</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
            [length]="totalSize" [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
    </div>


    <div class="container d-block d-sm-none">
        <mat-card class="example-card card borderCard mb-3 text-center" *ngFor="let offre of offres2, let index = index">
            <mat-card-header class="justify-content-center">
                <mat-card-title>
                    <h4 id="titre">{{offre.titre}}</h4>
                </mat-card-title>
                <mat-card-subtitle>{{offre.entreprise.secteur}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{offre.entreprise.logo.fileDownloadUri}}" alt="logo">
            <mat-card-content>
                <h4>{{offre.raisonSociale}}</h4>
                <p><span class="motRelief">Ville:</span> {{offre.ville}}</p>
                <!-- <h5><span class="mobile-label"></span>
                    {{offre.entreprise.secteur}}</h5> -->
                <p><span class="motRelief">Période:</span> {{offre.dateDebut}} au {{offre.dateFin}}</p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button style="justify-content: center"> <i [routerLink]="['/detailoffre', offre.id]" class="material-icons"
                        style="color:#FB6F07; cursor: pointer; font-size: 2.5em;">visibility</i></button>
                <a [routerLink]="['/detailoffre', offre.id]">
                    <p class="justify-content-center" style="color:#FB6F07">Voir
                        détail</p>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<br>