.textHead {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.bgHead {
    background-color: #00B499;
    font-size: 1.2em;
}

.bodyOffres {
    background-color: #a2f2e7;
}

img {
    width: 100px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn {
    background-color: #00ac9a;
    border: none;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    color: #ffffff;
    font-size: 1.5em;
    padding: 5px 25px 5px 25px;
    font-weight: bolder;
}

.page {
    margin: 0 auto;
}

table {
    width: 100%;
}

tr.mat-row {
    height: 100px;

}

td {
    cursor: pointer;
}

tr.mat-row:hover {
    background-color: #f8f9fa;
}

th.mat-header-cell {
    justify-content: flex-start;
    background-color: #7eccc1;
    font-size: 1.4em;
    font-weight: bold;
    color: white;
}

td.mat-cell {
    justify-content: flex-start;
}

b {
    color: #FB6F07;
}

#titre {
    color: #26a69a;
    margin-bottom: 2vh;

}

/* 
.titre {
    background-color: #83c6bf;
    margin-bottom: 2vh;
    border-radius: 5px;
} */

.borderCard {
    border: 2px solid #545454;
    box-shadow: 7px 7px #e1e8e7;
    border-radius: 5px;
}

.motRelief {
    font-weight: bold;
}

h4 {
    color: #FB6F07;

}