<div class="container partenaires">
    <!-- Entreprises Actives -->
    <div *ngIf="entreprises">
        <div class="row" *ngFor="let entreprise of entreprises">
            <div class="col-md-3 col-12 text-center offset-md-0">
                <img *ngIf="entreprise.logo.fileDownloadUri" src="{{entreprise.logo.fileDownloadUri}}" alt="Logo entreprise">
                <img *ngIf="entreprise.logo.fileDownloadUri == null" src="assets/img/LogoAdopt.png" alt="Logo placeholder">
            </div>
            <div class="col-md-9 col-12 entreprise">
                <div>
                    <h3>{{entreprise.raisonSociale}}</h3>
                    <p *ngIf="entreprise.description">{{entreprise.description}}</p>
                    <p *ngIf="entreprise.description == null">Cette entreprise partenaire n'a pas décrit son activité.</p>
                    <a *ngIf="entreprise.siteWeb" href="{{entreprise.siteWeb}}" target="_blank">Visiter leur site web</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Entreprises ajoutées par l'admin -->
    <div *ngIf="entreprisesPartenaires">
        <div class="row" *ngFor="let entreprisePartenaire of entreprisesPartenaires">
            <div class="col-md-3 col-sm-2">
                <img *ngIf="entreprisePartenaire.logo.fileDownloadUri" src="{{entreprisePartenaire.logo.fileDownloadUri}}"
                    alt="Logo entreprise">
                <img *ngIf="entreprisePartenaire.logo.fileDownloadUri == null" src="assets/img/LogoAdopt.png" alt="Logo placeholder">
            </div>
            <div class="col-md-9 col-sm-10 entreprise">
                <div>
                    <h3>{{entreprisePartenaire.nom}}</h3>
                    <p *ngIf="entreprisePartenaire.description">{{entreprisePartenaire.description}}</p>
                    <p *ngIf="entreprisePartenaire.description == null">Cette entreprise partenaire n'a pas décrit son
                        activité.</p>
                    <a *ngIf="entreprisePartenaire.siteWeb" href="{{entreprisePartenaire.siteWeb}}" target="_blank">Visiter
                        leur site web</a>
                </div>
            </div>
        </div>
    </div>
</div>