.bodyDetailOffre {
    background-color: #fff;

}
h2 {
    color: #FB6F07 !important;
}

h3 {
    color: #26a69a;
    text-transform: uppercase;
}

.headerDetailOffre {
    padding-top: 3%;
}

.headerDetailOffre h2 {
    font-weight: bolder;
    color: #2fa89a;
}

.line {
    border: 1px solid black;
    width: 70%;
    margin: 50px;
}